<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Price:</b>
  <%= number_to_currency(@product.price) %>
</p>

<p>
  <b>Color:</b>
  <%= @product.color %>
</p>

<p>
  <b>Model no:</b>
  <%= @product.model_no %>
</p>

<p>
  <b> Pic </b>
  <%= image_tag @product.photos.first.data.url(:medium) %>
  <ul>
  <% @product.photos.each do |photo| %>
    <li><%= image_tag photo.data.url(:thumb) %></li>

  <% end %>
</ul>

<p>
<%= button_to 'Add to Cart', line_items_path(:product_id => @product.id)%>
  </p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
