<!DOCTYPE html>
<html>
<head>
  <title>Byagu</title>
  <%= render 'layouts/stylesheets'%>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'https://js.stripe.com/v1/'%>
  <%= tag :meta, :name => 'stripe-key', :content => STRIPE_PUBLIC_KEY%>
  <script type="text/javascript">
function FillBilling(f) {
  if(f.billingtoo.checked == true) {
    f.order_billing_first_name.value = f.order_shipping_first_name.value;
    f.order_billing_last_name.value = f.order_shipping_last_name.value;
    f.order_billing_middle_name.value = f.order_shipping_middle_name.value;
    f.order_billing_address1.value = f.order_shipping_address1.value;
    f.order_billing_address2.value = f.order_shipping_address2.value;
    f.order_billing_city.value = f.order_shipping_city.value;
    f.order_billing_state.value = f.order_shipping_state.value;
    f.order_billing_zip.value = f.order_shipping_zip.value;
  } else {
  	 f.order_billing_first_name.value = '';
    f.order_billing_last_name.value = '';
    f.order_billing_middle_name.value = '';
    f.order_billing_address1.value = '';
    f.order_billing_address2.value = '';
    f.order_billing_city.value = '';
    f.order_billing_state.value = '';
    f.order_billing_zip.value = '';
  }

}
</script >

</head>
<body>
	<div class="container">
	<div style="float: right;padding: 5px 5px;" ><%= link_to 'Home', root_path %></div>
	<% unless session[:cart_id].nil? %>
<div style="float: right;padding: 5px 5px;" ><%= link_to 'show cart', cart_path(session[:cart_id])%>
	(<%= LineItem.get_count(session[:cart_id]) %>)
	<% else %>
	<div style="float: right;padding: 5px 5px;" ><%= link_to 'show cart', '#'%>
		(<%= LineItem.get_count(session[:cart_id]) %>)
	
<% end %>
</div>

<br>
<%= yield %>
</div>
</body>
</html>
